In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data1 = pd.read_csv("https://raw.githubusercontent.com/kadermak/Data-Engineer-Tech-Challenge/main/Task_1/dataset1.csv")
data1.head()

             name       price
0   William Dixon  109.037280
1    Kristen Horn  262.524652
2  Kimberly Chang  187.007258
3       Mary Ball  283.174648
4  Benjamin Craig  143.871582

In [6]:
#process data
output_df = pd.DataFrame()
output_df['first_name'] = data1['name'].str.split(' ', 1).str[0]
output_df['last_name'] = data1['name'].str.split(' ', 1).str[1]
output_df['price'] = pd.to_numeric(data1['price'])
 #  if the price is strictly greater than 100
output_df['above_100'] = np.where(output_df['price']>100,True, False)

output_df.head

<bound method NDFrame.head of      first_name last_name       price  above_100
0       William     Dixon  109.037280       True
1       Kristen      Horn  262.524652       True
2      Kimberly     Chang  187.007258       True
3          Mary      Ball  283.174648       True
4      Benjamin     Craig  143.871582       True
...         ...       ...         ...        ...
4995    Shirley    Nguyen    9.011665      False
4996      Jesse     Brown  247.328232       True
4997    Valerie     Owens  238.103714       True
4998     Alicia     Sharp  243.622929       True
4999     Sherry    Jensen   13.839516      False

[5000 rows x 4 columns]>